<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>311544044796-2q4qaq3qbfflkegi2cts69fmsjlrkbis.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.311544044796-2q4qaq3qbfflkegi2cts69fmsjlrkbis</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>311544044796-uog80s1qvvf0qh5erkv8t6l65ukipk5f.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCcUZb90v-dUt1h2pdCWRXdfc3woBOI010</string>
	<key>GCM_SENDER_ID</key>
	<string>311544044796</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.toocool.showertracking.app</string>
	<key>PROJECT_ID</key>
	<string>toocool-fd1b2</string>
	<key>STORAGE_BUCKET</key>
	<string>toocool-fd1b2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:311544044796:ios:82ec4a498d6183da1b0b79</string>
</dict>
</plist>